.header {
    background: $off-black;
    color: white;
    margin-bottom: $xl-size; /* Put space between header and contents below */
    padding: $m-size 0; /* 1.6rem space between top and bottom, 0 left and right */
}

// BEM naming convention, block element modifier
// block is the header
// element is everything inside block, like text
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

/* Used to make add option input box and button */
/* More UI friendly on mobile devices */
@media (max-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $s-size;
    }
}