.header {
    background: #20222b;
    color: white;
    margin-bottom: 4.8rem; /* Put space between header and contents below */
    padding: 1.6rem 0; /* 1.6rem space between top and bottom, 0 left and right */
    text-align: center;
}

// BEM naming convention, block element modifier
// block is the header
// element is everything inside block, like text
.header__title {
    font-size: 3.2rem;
    margin: 0;
}

.header__subtitle {
    color: #a5afd7;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}