// Widget
.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

// Widget
.widget__message {
    border-bottom: 1px solid lighten($light-blue, 10%);
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
}

// Widget Header
.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex; /* space the text inside the header */
    justify-content: space-between; /* push text to left and right side */
}
.widget-header__title {
    margin: 0; /* No space on top or bottom */
}