// Colors
$off-black : #20222b;
$off-white: #a5afd7;
$blue: #3c4251;
$light-blue: #464b5e;
$dark-blue: #333745;
$purple: #8357c5;

// Spacing
$s-size: .8rem; // <- small size
$m-size: 1.6rem; // <- medium size
$l-size: 3.2rem; // <- large size
$xl-size: 4.8rem; // <- x-large size
$desktop-breakpoint: 45rem; // <- to re-size from mobile to desktop