// Colors
$off-black : #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$purple: #8357c5;

// Spacing
$s-size: .8rem; // <- small sized text
$m-size: 1.6rem; // <- medium sized text
$l-size: 3.2rem; // <- large sized text
$xl-size: 4.8rem; // <- x-large sized text